body {
    text-align: center;
    background-color: lightblue;
}

h1, #body2, #body3 {
    border: 2px solid gray;
    border-radius: 5px;
    background-color: white;
    margin-left: 200px;
    margin-right: 200px;
}

h1 {
    margin-top: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#body2, #body3 {
    margin-top: 25px;
}

#body3 {
    padding-bottom: 25px;
}

table, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 5px;
    margin: auto;
}